<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="Footer" th:fragment="footer">
  <div class="wrap">
    <div class="row Footer-main">
      <div class="row-block"
           th:replace="~{fragments/footer_left_side_info_block_fragment :: block}"></div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" th:href="@{/index}" th:text="#{topbar.main}" >Главная</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/genres/index}" th:text="#{topbar.genres}" >Жанры</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/books/recent}" th:text="#{topbar.news}" >Новинки</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="@{/books/popular}" th:text="#{topbar.popular}">Популярное</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="@{/authors/index}" th:text="#{topbar.authors}">Авторы</a>
          </li>

        </ul>
      </div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" href="@{/signin}">Войти</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="@{/documents/index}">Документы</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/about}">О компании</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/faq}">Помощь</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/contacts}">Контакты</a>
          </li>

        </ul>
        <p>
          <span>Выбор языка</span>
          <select id="locales">
            <option value=" "></option>
            <option value="en">English</option>
            <option value="ru">Русский</option>
          </select>
        </p>
      </div>
    </div>
  </div>
  <div class="Footer-copy">
    <div class="wrap">© 2021 Bookshop Pty Ltd. ALL RIGHTS RESERVED
    </div>
  </div>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
  <script src="/assets/js/changeLang.js"></script>
  </div>
</footer>
</html>