<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Подключение jQuery (предварительно убедитесь, что вы загрузили библиотеку jQuery) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="Tags" id="tags" th:fragment="cloud">
    <span th:each="tag : ${tagList}">
        <span th:class="${tag.type}">
            <!-- Добавление ссылки и обработчика события onclick -->

            <a href="#a"    th:href="@{/tags/{id}(id=${tag.id})}"  th:text="${tag.name}"></a>
        </span>
    </span>
</div>

<!-- JavaScript-код, который отправляет запрос с помощью jQuery -->

</body>
</html>


<!--html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Tags" id="tags" th:fragment="cloud">
    <div th:each="tag : ${tagList}">
        <div th:class="${tag.type}"><a href="/tags/index.html" th:text="${tag.name}">современная
            литература</a>
        </div>
    </div>
</div>
</html-->